# Environment variables and secrets
.env
.venv

# Cache files
__pycache__/
.ipynb_checkpoints/
lightning_logs/

# Ignore model checkpoints
*.ckpt

# Ignore test and coverage reports
.pytest_cache/
.coverage
htmlcov/

# WandB logs
wandb/
