# Environment variables and secrets
.env
.venv

# Ignore OS files
.vscode/

# Cache files
__pycache__/
.ipynb_checkpoints/
lightning_logs/

# Ignore model and checkpoints
*.ckpt
*.pkl
*.pt

# Ignore test and coverage reports
.pytest_cache/
.coverage
htmlcov/

# WandB logs
wandb/

# Ignore CSV files
data/*.csv

# DVC cache and tmp
.dvc/cache
.dvc/tmp
